__tests__
.git
.github
node_modules
.vscode
.env
scripts
Dockerfile
.dockerignore
data
docs
.editorconfig
.env.example
.gitignore
README.md
.prettierignore
.prettierrc
eslint.config.js
jest.config.js
