<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/viewSoli.css" />
    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
      await
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="horizontal">
      <div class="logo">
        <img
          src="https://via.placeholder.com/150x40/0E1525/FFFFFF?text=ContrataDev"
          alt="Logo da ContrataDev"
        />
      </div>
    </div>

    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <nav>
          <ul>
            <li>
              <iconify-icon icon="tabler:home" width="24"></iconify-icon>Home
            </li>
            <li>
              <iconify-icon
                icon="iconamoon:profile-bold"
                width="24"
              ></iconify-icon
              >Perfil
            </li>
          </ul>
        </nav>
      </aside>

      <main>
        <section class="content">
          <div>
            <div class="voltar">
              <iconify-icon
                icon="iconamoon:arrow-left-2"
                width="20"
              ></iconify-icon>
              Voltar
            </div>

            <h2>TÍTULO DA SOLICITAÇÃO</h2>

            <span class="valor">R$ 5.000,00</span>

            <div class="desc">
              <p>
                Descrição detalhada da solicitação. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nullam auctor, nisl eu ultricies
                lacinia, nunc nisl aliquam nisl, eu aliquam nisl nunc eu nisl.
              </p>
            </div>

            <div class="tecnologia">
              <p>Tecnologias que serão utilizadas:</p>
              <div class="tech">
                <iconify-icon icon="logos:javascript" width="32"></iconify-icon>
                <iconify-icon icon="logos:react" width="32"></iconify-icon>
                <iconify-icon icon="logos:nodejs" width="32"></iconify-icon>
                <div class="mais">
                  Ver mais
                  <iconify-icon icon="ic:round-plus" width="20"></iconify-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="btn-container">
            <a href="#" class="button">
              <button>Aceitar</button>
            </a>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
