<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contrata-Dev</title>
    <link rel="stylesheet" href="/stylesheets/HomeE.css" />
    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
      await
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="/javascripts/HomeE.js" defer></script>
  </head>

  <body>
    <!-- logo e div horizontal-->
    <div class="horizontal">
      <div class="logo"><img src="/images/logo.webp" alt="" /></div>
    </div>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <nav>
          <ul>
            <li>
              <a href="dashboard">
                <iconify-icon icon="tabler:home" width="24"></iconify-icon> Home
              </a>
            </li>
            <li>
              <a href="profile">
                <span>
                  <iconify-icon
                    icon="iconamoon:profile-bold"
                    width="24"
                  ></iconify-icon
                ></span>
                Perfil
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <!-- Conteúdo Principal -->
      <main class="main-content">
        <div class="header">
          <h1>Suas Solicitações</h1>
          <a href="create" class="btn-criar">
            <iconify-icon icon="ic:round-plus" width="20"></iconify-icon>Criar
            sua Solicitação
          </a>
        </div>

        <section class="section-status">
          <div class="status">
            <h2>Em Produção</h2>
          </div>
          <div id="cards-container" class="cards-container">
            <span>[Por enquanto nenhum projeto para esse usuário]</span>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
