<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contrata-Dev</title>
    <link rel="stylesheet" href="/stylesheets/HomeE.css" />
    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
      await
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- logo e div horizontal-->
    <div class="horizontal">
      <div class="logo"><img src="/images/logo.webp" alt="" /></div>
    </div>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <nav>
          <ul>
            <li>
              <iconify-icon icon="tabler:home" width="24"></iconify-icon> Home
            </li>
            <li>
              <span
                ><iconify-icon
                  icon="iconamoon:profile-bold"
                  width="24"
                ></iconify-icon
              ></span>
              Perfil
            </li>
          </ul>
        </nav>
      </aside>

      <!-- Conteúdo Principal -->
      <main class="main-content">
        <div class="header">
          <h1>Suas Solicitações</h1>
          <button class="btn-criar">
            <iconify-icon icon="ic:round-plus" width="20"></iconify-icon>Criar
            sua Solicitação
          </button>
        </div>

        <section class="section-status">
          <div class="status">
            <h2>Em Produção</h2>
          </div>
          <div class="cards-container">
            <!-- Card -->
            <div class="card">
              <div class="header-card">
                <p class="valor">Valor de Pagamento</p>
                <p class="titulo">Título</p>
              </div>
              <p>Descrição</p>
              <p>Requisitos</p>
              <div class="tech-icons">
                <iconify-icon icon="logos:javascript" width="24"></iconify-icon>
                <iconify-icon
                  icon="vscode-icons:file-type-html"
                  width="25"
                ></iconify-icon>
              </div>
            </div>
            <!-- Repetir mais cards conforme criação e aramzenamento no banco de dados com o backend-->
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
