* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
	color: white;
}

h2 {
	font-size: 50px;
	margin-bottom: 32px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 14px;

	button {
		background: linear-gradient(90deg, #1862ad 0%, #092b4e 100%);
		color: aliceblue;
	}
}

input {
	padding: 12px 20px;
	border-radius: 12px;
	border: none;
	outline: none;
	font-size: 14px;
	width: 400px;
	background-color: rgba(199, 198, 198, 0.096);
	color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

button {
	padding: 12px 20px;
	border-radius: 12px;
	border: none;
	outline: none;
	font-size: 16px;
	margin-top: 8px;
	width: 400px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s;
}

button:hover {
	transform: translateY(-4px);
}

.check {
	padding: 0;
	width: 20px;
}

p {
	font-size: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.containerAll {
	width: 100%;
	height: 100vh;
	background-color: #0e1525;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 80%;
	height: 90vh;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	padding: 32px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.login,
.cadastro {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.formLogin,
.facaLogin,
.formCadastro,
.facaCadastro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.facaLogin,
.facaCadastro {
	position: absolute;

	button {
		background-color: rgba(255, 255, 255, 0.623);
		border: 1px solid rgba(10, 10, 10, 0.61);
		color: black;
	}
}

/*fundo que mexe*/
.card::after {
	width: 100%;
	height: 100%;
	content: "";
	background-image: url(../images/imagenFundo.webp);
	position: absolute;
	top: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	z-index: 0;
	transition: all 0.5s;
}

/*login Active*/

.card.loginActive .facaLogin {
	opacity: 0;
	pointer-events: none;
}

.card.loginActive .facaCadastro {
	transition: all 0.4s 0.2s;
	transform: translateX(0);
	opacity: 1;
}

.card.loginActive .formLogin {
	transition: all 0.4s 0;
	opacity: 1;
}

.card.loginActive .formCadastro {
	opacity: 0;
	pointer-events: none;
}

.card.loginActive::after {
	transform: translateX(50%);
}

/*cadastro Active*/

.card.cadastroActive .facaCadastro {
	opacity: 0;
	pointer-events: none;
}

.card.cadastroActive .formLogin {
	opacity: 0;
	pointer-events: none;
}

.card.cadastroActive::after {
	transform: translateX(-50%);
}

.card.cadastroActive .facaLogin {
	transition: all 0.4s 0.2s;
	transform: translateX(0);
	opacity: 1;
}

.card.cadastroActive .formCadastro {
	transition: all 0.4s 0;
	opacity: 1;
}

/*transição*/
.facaCadastro {
	transform: translateX(200%);
	transition: all 0.4s 0;
	opacity: 0;
}

.formLogin {
	transition: all 0.4s 0;
	opacity: 0;
}

.facaLogin {
	transform: translateX(-200%);
	transition: all 0.4s 0;
	opacity: 0;
}

.formCadastro {
	transition: all 0.4s 0;
	opacity: 0;
}
