* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: inter;
	background-color: #0e1525;
	color: #fff;
	font-family:
		Inter,
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Arial,
		sans-serif;
}

.container {
	display: flex;
	height: 100vh;
}

/*frescura horizontal*/
.horizontal {
	flex-direction: row;
	border-bottom: 1px solid #334155;
	height: 61px;
	display: flex;
	align-items: center;
}

.logo {
	margin: 20px;
}

/*sidebar*/

.sidebar {
	width: 200px;
	background-color: #0e1525;
	padding: 20px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #334155;
}

.sidebar .logo {
	margin-bottom: 30px;
}

.sidebar ul {
	list-style: none;
}

.sidebar li {
	margin: 15px 0;
	color: #797d89;
	align-items: center;
	display: flex;

	iconify-icon {
		margin-right: 5px;
	}
}

/*meio*/

.main-content {
	flex: 1;
	padding: 30px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.status {
	background-color: #1c2333;
	height: 11.9vh;
	padding: 10px;
	margin: 20px 0px 20px 0px;
	border-radius: 10px;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: stretch;
}

/*cards*/

.card {
	background-color: #1c2333;
	padding: 18px;
	border-radius: 8px;
	width: 300px;
	color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.28s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 170px;

	&:hover {
		background-color: #232d3d;
		transform: translateY(-4px);
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	}

	p {
		margin: 6px 0;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}

	p:not(.valor):not(.titulo):not(.prazo) {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}

.header-card {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 10px;
}

.titulo {
	font-weight: 600;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.valor {
	background: linear-gradient(to right, #52b087, #1d9b63);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
	font-size: 14px;
}

.tech-icons {
	margin-top: 8px;
	margin-top: auto;
}

.prazo {
	position: absolute;
	top: 10px;
	right: 12px;
	font-size: 12px;
	color: #9fb8c9;
	font-weight: 600;
}

.tech-chip {
	background: #f7df1e;
	color: #000;
	font-weight: 700;
	border-radius: 6px;
	padding: 4px 8px;
	display: inline-block;
	margin-right: 6px;
	font-size: 12px;
}
