<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/auth.css" />
  <title>Contrata-Dev</title>
  <script defer src="/scripts/auth.js"></script>
  <script async src="https://kit.fontawesome.com/bbd511b314.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="containerAll">
    <div class="card loginActive">
      
      <!-- LOGIN -->
      <div class="login">
        <div class="formLogin">
          <h2>Login</h2>
          <form id="loginForm">
            <input type="email" name="email" placeholder="E-mail" required />
            <input type="password" name="password" placeholder="Senha" required />
            <button type="submit">Entrar</button>
          </form>
        </div>
        <div class="facaLogin">
          <h2>Já tem uma conta?</h2>
          <p>Entre agora</p>
          <button class="loginButton">Faça Login</button>
        </div>
      </div>

      <!-- CADASTRO -->
      <div class="cadastro">
        <div class="formCadastro">
          <h2>Cadastro</h2>
          <form id="registerForm">
            <input type="text" name="name" placeholder="Nome Completo" required />
            <input type="email" name="email" placeholder="E-mail" required />
            <input type="password" name="password" placeholder="Senha" required />
            <input type="password" name="confirmPassword" placeholder="Confirme sua senha" required />
            
           <section>
              <input type="radio" id="desenvolvedor" name="tipoUsuario" value="dev" required />
              <label for="desenvolvedor">Desenvolvedor</label>
            </section>

            <section>
              <input type="radio" id="contratante" name="tipoUsuario" value="contractor" />
              <label for="contratante">Contratante</label>
            </section>

            <button type="submit">Cadastrar</button>
          </form>
        </div>
        <div class="facaCadastro">
          <h2>Não tem uma conta?</h2>
          <p>Crie uma e aproveite as oportunidades</p>
          <button class="cadastroButton">Cadastre-se</button>
        </div>
      </div>

    </div>
  </section>
</body>
</html>
