<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
      await
    ></script>
    <link rel="stylesheet" href="/stylesheets/Perfil-edit.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <title>Contrata-Dev: <%= title %></title>
  </head>

  <body>
    <div class="perfil-container">
      <!-- Botão voltar -->
      <div class="voltar">
        <iconify-icon icon="iconamoon:arrow-left-2" width="20"></iconify-icon>
        Voltar
      </div>

      <div class="conteudo">
        <!-- Coluna esquerda -->
        <div class="col-esquerda">
          <div class="avatar">
            <!--aqui vai ficar a img de perfil do usuario  -->
          </div>
          <h2>Nome do Usuário</h2>

          <div class="tecnologias">
            <p>Tecnologias</p>
            <div class="tech-icons">
              <iconify-icon icon="logos:javascript" width="32"></iconify-icon>
              <iconify-icon icon="devicon:html5" width="32"></iconify-icon>
              <iconify-icon icon="logos:php" width="32"></iconify-icon>
              <iconify-icon icon="logos:python" width="32"></iconify-icon>
              <iconify-icon
                icon="material-icon-theme:kotlin"
                width="32"
              ></iconify-icon>
            </div>
          </div>

          <button class="btn-edit">Cancelar</button>
          <button class="btn-edit">Salvar</button>
        </div>

        <!-- Coluna direita -->
        <div class="col-direita">
          <h2>Informações do Perfil</h2>
          <div class="info-box">
            <form method="post">
              <p><strong>Email</strong></p>
              <input type="text" value="nome@example.com.br" />

              <p><strong>Telefone</strong></p>
              <input type="text" value="+XX (XX) XXXXX-XXXX" />

              <p><strong>País</strong></p>
              <input type="text" value="Pais" />
            </form>
          </div>

          <!-- Projetos -->
          <div class="projetos">
            <h3>Projetos</h3>
            <div class="projeto-card">
              <iconify-icon icon="mdi:github" width="62"></iconify-icon>
              <div>
                <p>Nome do projeto</p>
                <p>Link: www.exemplo.git</p>
              </div>
            </div>
            <!-- Repita os cards para mais projetos -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
